.keyboard {
  width: 850px;
  margin: auto;
  margin-top: 200px;
  padding: 10px;
  font-family: sans-serif;
  background: linear-gradient(180deg, rgba(110, 110, 110, 0.9) 0%, rgba(75, 75, 75, 1) 100%);
  border: 2px solid $color-dark;
  border-bottom: 1px solid rgb(208, 208, 208);
  border-radius: 5px;
  box-shadow: 0 10px 2px rgb(198, 198, 198), 0 15px 2px $color-main;
}

.keys-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
